.dither-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
  display: block;
}

.dither-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
